<div class="container">
    <img src="/top-image.webp" width="100%">
    <div class="text-box">
      <h1>毎日の筋トレを記録しよう！</h1>
      <p>継続こそ力なり、でも続けるモチベーションが…</p>
      <p>そんな時はMuscleAppでみんなと報告しあおう！</p>
    </div>
</div>
