h1{
  color: blue;
}
.bow-wrapper{
  width: auto;
  height: auto;
}
.box{
  width: 240px;
  background: #00ffff;
  margin: 2px;
  float: left;
  text-align: center

}
.post{
  width:200px;
  border-bottom:1px solid ;
  margin:5px;
}
p{
  color: blue;
}
